.fullBubbleContainer {
    height: 25vw;
    width: 100vw;

    background-color: var(--orange);

    border-radius: 1vh;
    position: relative;
}

.fullText {
    position: absolute;
    z-index: 10;
    top: 1vw;
    left: 3vw;
    color: var(--white);
    font-size: 25px;
}

.fullPText {
    position: absolute;
    z-index: 10;
    top: 4vw;
    left: 0vw;
    color: var(--white);
    font-size: 18px;
}

.fullDate {
    position: absolute;
    z-index: 10;
    top: 6vw;
    left: 0vw;
    color: var(--white);
    font-size: 18px;
}

.fullTime {
    position: absolute;
    z-index: 10;
    top: 8vw;
    left: 0vw;
    color: var(--white);
    font-size: 18px;
}

.liveButton {
    position: absolute;
    z-index: 10;
    top: 12vw;
    left: 0vw;
    /* background-color: var(--red); */
    font-size: 18px;
}

.closeBtn {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    right: 20px;
}

.openBtn{
    position: absolute;
    z-index: 10;
    bottom: 10px;
    right: 10px;
}

.miniWideContainer {
    margin-top: 2v;
    height: 10vw;
    width: 17vw;

    background-color: var(--orange);

    border-radius: 10px;
    position: relative;
}

.miniWideImage {
    border-radius: 50px;
    overflow: 'hidden';
}