.squareBubbleContainer,
.tallBubbleContainer,
.wideBubbleContainer {
    border: 0;
    margin: 8px;
}
.squareBubbleContainer {
    width: 28vw;
    height: 25vw;

    border-radius: 1vh;
    position: relative;
    
}

.squareText {
    position: absolute;
    z-index: 10;
    top: 1vw;
    left: 1vw;
    color: var(--white);
}

.tallBubbleContainer {
    width: 13.5vw;
    height: 20vw;
    border-radius: 1vh;
    position: relative;
    }
    
.categoryBubbleContainer {
    width: 21vw;
    height: 6vw;
    
    /* background-color: var(--accent-red); */

    border-radius: 1vh;
    position: relative;
}

.categoryBubbleContainerSelected {
    width: 21vw;
    height: 6vw;

    /* background-color: var(--accent-red); */

    border-radius: 1vh;
    position: relative;
    box-shadow: 6px 6px var(--text);
}
.wideBubbleContainer {
    height: 11vw;
    width: 21.5vw;
    border-radius: 1vh;
    position: relative;
}


.wideText {
    position: absolute;
    color: var(--white);
    z-index: 10;
    bottom: 1vw;
    left: 1vw;
}

.wideSubText {
    position: absolute;
    color: var(--white);
    z-index: 10;
    bottom: 3vw;
    
}

.openBubbleBtn{
    position: absolute;
    z-index: 10;
    bottom: 10px;
    right: 10px;
}

.midBubbleContainer {
    width: 28vw;
    height: 20vw;
    border-radius: 1vh;
    border: 0;
        margin: 8px 12px;
}

.midText {
    color: var(--white);
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

.midBubbleTags {
    background-color: var(--white);
    border-radius: 12px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    padding: 0 8px;
    margin: 0px 2px;
    font-size: 12px;
}
