.squareBubbleContainer {
    width: 28vw;
    height: 25vw;

    background-color: var(--yellow);

    border-radius: 1vh;
    position: relative;
}

.squareText {
    position: absolute;
    z-index: 10;
    top: 1vw;
    left: 1vw;
    color: var(--white);
}

.tallBubbleContainer {
    width: 13.5vw;
    height: 24vw;

    background-color: var(--yellow);

    border-radius: 1vh;
    position: relative;
}

.wideBubbleContainer {
    height: 11vw;
    width: 20vw;

    background-color: var(--yellow);

    border-radius: 1vh;
    position: relative;
}

.fullBubbleContainer {
    height: 25vw;
    width: 100vw;

    background-color: var(--orange);

    border-radius: 1vh;
    position: relative;
}

.fullText {
    position: absolute;
    z-index: 10;
    top: 1vw;
    left: 3vw;
    color: var(--white);
    font-size: 25px;
}

.fullPText {
    position: absolute;
    z-index: 10;
    top: 4vw;
    left: 0vw;
    color: var(--white);
    font-size: 18px;
}

.wideText {
    position: absolute;
    color: var(--white);
    z-index: 10;
    bottom: 1vw;
    left: 1vw;
}