.squareBubbleContainer {
    width: 28vw;
    height: 25vw;

    border-radius: 1vh;
    position: relative;
}

.squareText {
    position: absolute;
    z-index: 10;
    top: 1vw;
    left: 1vw;
    color: var(--white);
}

.tallBubbleContainer {
    width: 13.5vw;
    height: 24vw;

    border-radius: 1vh;
        position: relative;
    }
    
    .categoryBubbleContainer {
        width: 21vw;
        height: 6vw;
    
        /* background-color: var(--accent-red); */

    border-radius: 1vh;
    position: relative;
}
.wideBubbleContainer {
    height: 11vw;
    width: 21.5vw;

    border-radius: 1vh;
    position: relative;
}


.wideText {
    position: absolute;
    color: var(--white);
    z-index: 10;
    bottom: 1vw;
    left: 1vw;
}

.openBubbleBtn{
    position: absolute;
    z-index: 10;
    bottom: 10px;
    right: 10px;
}
.images {
    width: 188px;
    height: 269px;
}