.container {
    width: 8vw;
    height: 6vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--text);
    background-color: var(--white);

    border: none;
    border-radius: 1vh;
}

.containerColour {
    width: 8vw;
    height: 6vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--yellow);
    color: var(--text);

    border: none;
    border-radius: 1vh;
}

.containerWide {
    width: 16vw;
    height: 6vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: var(--text);
    background-color: var(--white);
    
    border: none;
    border-radius: 1vh;
}