.containerText {
    color: #3A3A3A;
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
}

.containerTextWide {
    color: #3A3A3A;
    font-family: 'Lato';
    font-style: normal;
    font-size: 20px;
}

.container {
    /* width: 8vw;
    height: 6vh; */
    height: 48px;
    width: 108px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFFFFF;

    border: none;
    border-radius: 15px;
}

.containerColour {
    /* height: 6vh;
    width: 8vw; */
    height: 48px;
    width: 108px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFE202;
    
    border: none;
    border-radius: 15px;
}

.containerWide {
    width: 16vw;
    height: 6vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #FFFFFF;
    
    border: none;
    border-radius: 15px;
}

.containerColorWide {
    width: 16vw;
    height: 6vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #FFE202;
    
    border: none;
    border-radius: 15px;
}