.container {
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.contentContainer {
    width: 90vw;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardContainer {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}