.container {
    /* Container copied from home.module.css Make globle?*/
    padding-top: 10vh;
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.image  {
    height: 362px;
    width: 456px;
}

.title {
    margin: 20px;
    width: 375px;
    height: 40px;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 40px;
    color: #FE8668;
}

.message {
    margin: 20px;
    width: 848px;
    height: 72px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #3A3A3A;
}