.streamPageContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.eventInfoBubble {
    text-align: center;
    /* position: relative;
    left: 100px; */
}

.videoInfoBubble {
    text-align: left;
    width: 80vw;

}

.videoPlayer {
    width: 100vw;
    height: 100vh;
}

.line {
    width: 80vw;
    height: 1px;
    background-color: #000;
    margin-bottom: 4vh;
}