.textContainer {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: var(--text);
    margin-bottom: 8px;

}